openapi: 3.0.3
info:
  title: Yana API 1.0
  description: |-
    This is Yana API developed during Forward pool. API can be used for both website or application for integration of user and chat system.
    You must follow all the information and error codes for error handling during the implementation of API into your client.
  contact:
    email: dev@yanachat.fr
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: http://localhost
  - url: http://51.178.17.202:2222
paths:
  /user/login:
    post:
      tags:
        - User
      summary: Login into your account with credentials
      description: Login into your account with credentials (email and password)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/login-query'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginSuccess'  
        '400':
          description: Bad credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Permission denied - Account disabled due to ToS violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /user/register:
    put:
      tags:
        - User
      summary: Create a new user account
      description: Create a new user account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/register-query'
        required: true
      responses:
        '200':
          description: Successful operation
        '400':
          description: Input error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /user:
    get:
      tags:
        - User
      summary: Retrieves profile information
      description: Retrieves profile information about the user
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          description: Bad token or unknown user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /user/update/password:
    post:
      tags:
        - User
      summary: Update user password
      description: Update user password
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePasswordQuery'
        required: true
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad token or unknown user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /user/logout:
    post:
      tags:
        - User
      summary: Log out from the account and invalidate token
      description: Log out from the account and invalidate token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/logout-query'
        required: true
      responses:
        '200':
          description: Successful operation   
        '400':
          description: Input error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /user/delete:
    delete:
      tags:
        - User
      summary: Delete current account
      description: Delete current account
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successful operation
        '400':
          description: Input error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /chats:
    get:
      tags:
        - Chats
      summary: Retrieves chat list
      description: Retrieves chat list
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatArray'
        '400':
          description: Input error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /chats/create:
    put:
      tags:
        - Chats
      summary: Create a text channel
      description: Create a text channel
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCreateRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCreateReply'
        '400':
          description: Input error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /chats/{chatId}:
    get:
      tags:
        - Chats
      summary: Retrieves all messages in a chat
      description: Retrieves all messages in a chat
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: chatId
          schema:
            type: string
          required: true
          description: ID of chat
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessageArray'
        '400':
          description: Input error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    delete:
      tags:
        - Chats
      summary: Delete a text channel
      description: Delete a text channel
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: chatId
          schema:
            type: string
          required: true
          description: ID of chat
      responses:
        '200':
          description: Successful operation
        '400':
          description: Input error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
        - Chats
      summary: Send a message in chat
      description: Send a message in chat
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: chatId
          schema:
            type: string
          required: true
          description: ID of chat
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMessageSendRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessageSendReply'
        '400':
          description: Input error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /chats/{chatId}/member/{userId}:
    put:
      tags:
        - Chats
      summary: Add member in text channel
      description: Add member in text channel
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: chatId
          schema:
            type: string
          required: true
          description: ID of chat
        - in: path
          name: userId
          schema:
            type: string
          required: true
          description: ID of user account
      responses:
        '200':
          description: Successful operation
        '400':
          description: Input format error
        '404':
          description: Unknown resource
        '403':
          description: Permission denied
        '412':
          description: User ID already in text channel
    delete:
      tags:
        - Chats
      summary: Remove a member from text channel
      description: Remove a member from text channel
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: chatId
          schema:
            type: string
          required: true
          description: ID of chat
        - in: path
          name: userId
          schema:
            type: string
          required: true
          description: ID of user account
      responses:
        '200':
          description: Successful operation
        '400':
          description: Input format error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Unknown resource
        '403':
          description: Permission denied
        '412':
          description: User ID not in text channel
  /adm/generate-code:
    post:
      tags:
        - Admin
      summary: Generate QR Code for a new patient with default channel access
      description: Generate QR Code for a new patient. You must specify chat_ids the new user will have access after registration.
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateQRRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateQRReply'
        '400':
          description: Input format error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Unknown chat ID specified
        '500':
          description: Unable to generate token (internal server error)
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    UpdatePasswordQuery:
      type: object
      properties:
        current_password:
          type: string
          description: "Current user password"
          example: "my_old_password"
        new_password:
          type: string
          description: "New user password"
          example: "my_new_password"
    GenerateQRReply:
      type: object
      properties:
        token_url:
          type: string
          description: "Base64 URL of generated QR Code"
          example: "data:image/png;base64,XXXXXXXXXXXXXXXXXXXXXXXX"
        token:
          type: string
          description: "Raw token"
          example: "1edd37d1df049e2f705516800a708863ecf408dda9ab618d2fac65e14b2610b0fd5a6ab6d9a22010451b1f4d9667f457"
    UserProfile:
      type: object
      properties:
        email:
          type: string
          description: "Account email address"
          example: "john.doe@example.com"
        username:
          type: string
          description: "Account username"
          example: "johndoe"
        created_at:
          type: string
          description: "Account creation date"
          example: "2022-12-07T09:43:31.945Z"
        picture_url:
          type: string
          description: "URL of account profile picture"
          example: "http://cdn.yana.chat/1edd37d1df049e2f70551680"
        permissions:
          type: array
          items:
            type: string
            example: "generateQR"
    GenerateQRRequest:
      type: object
      properties:
        chat_ids:
          type: array
          items:
            type: string
            example: "6390834cdaeda0edab3649ad"
    ChatCreateRequest:
      type: object
      properties:
        title:
          type: string
          example: 'Example title'
    ChatCreateReply:
      type: object
      properties:
        chat_id:
          type: string
          example: '6390834cdaeda0edab3649ad'
    ChatMessageSendReply:
      type: object
      properties:
        message_id:
          type: string
          example: '63908383daeda0edab3649ae'
        success:
          type: boolean
          example: true
    ChatMessageSendRequest:
      type: object
      properties:
        message:
          type: string
          example: 'Example message'
    ChatObject:
      type: object
      properties:
        id:
          type: string
          example: '639080bf5be6d64d45547834'
        title:
          type: string
          example: 'Example title'
    ChatUser:
      type: object
      properties:
        id:
          type: string
          example: "63906043c0e7d90577c14801"
        name:
          type: string
          example: "John"
        picture:
          type: string
          example: "http://example.com/example.png"
        badges:
          type: array
          items:
            type: string
    ChatMessage:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/ChatUser'
        message:
          type: string
          example: 'This is an example message'
        date:
          type: string
          example: '2022-12-07T12:13:55.791Z'
    ChatArray:
      type: array
      items:
        $ref: '#/components/schemas/ChatObject'
    ChatMessageArray:
      type: array
      items:
        $ref: '#/components/schemas/ChatMessage'
    ChatMessageListRequest:
      type: object
      properties:
        chat_id:
          type: string
          example: '639080bf5be6d64d45547834'
    login-query:
      type: object
      properties:
        email:
          type: string
          example: 'john@example.com'
        password:
          type: string
          example: 'password_here'
    LoginSuccess:
      type: object
      properties:
        token:
          type: string
          example: 'XXXXXXXXXXXXXX.XXXXXXXXXXXXXXXXXXXX.XXXXXXXXXXXXXX'
    register-query:
      type: object
      properties:
        email:
          type: string
          example: 'john@example.com'
        username:
          type: string
          example: 'my_user'
        password:
          type: string
          example: 'my_password'
        token:
          type: string
          example: 'QRCode Token'
    logout-query:
      type: object
      properties:
        token:
          type: string
          example: 'XXXXXXXXXXXXXX.XXXXXXXXXXXXXXXXXXXX.XXXXXXXXXXXXXX'
    error:
      type: object
      properties:
        msg:
          type: string
          example: "<Detailed error>"
